src/statemachine/grader.asl.json
{
  "StartAt": "Add empty LastEvaluatedKey",
  "States": {
    "Add empty LastEvaluatedKey": {
      "Type": "Pass",
      "Next": "Scan",
      "Result": {
        "LastEvaluatedKey": null
      },
      "ResultPath": "$"
    },
    "Scan": {
      "Type": "Task",
      "Next": "Map",
      "Parameters": {
        "TableName": "CloudProjectMarker-AwsAccountTable-160W5ZEFD9QSA",
        "ProjectionExpression": "#User",
        "ExpressionAttributeNames": {
          "#User": "User"
        },
        "ExclusiveStartKey.$": "$.LastEvaluatedKey"
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:scan"
    },
    "Map": {
      "Type": "Map",
      "Next": "Check for more",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Lambda Invoke",
        "States": {
          "Lambda Invoke": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${StepFunctionGraderFunctionArn}",
              "Payload.$": "$"
            },
            "End": true,
            "ResultPath": "$.result",
            "ResultSelector": {
              "result.$": "$.Payload"
            },
            "OutputPath": "$.result"
          }
        }
      },
      "Label": "Map",
      "MaxConcurrency": 100,
      "ItemsPath": "$.Items",
      "ItemSelector": {
        "Email.$": "$$.Map.Item.Value.User.S"
      },
      "ResultPath": "$.results"
    },
    "Check for more": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.LastEvaluatedKey",
          "IsPresent": true,
          "Next": "Add new LastEvaluatedKey"
        }
      ],
      "Default": "Done"
    },
    "Done": {
      "Type": "Succeed"
    },
    "Add new LastEvaluatedKey": {
      "Type": "Pass",
      "Next": "Scan",
      "Parameters": {
        "LastEvaluatedKey.$": "$.LastEvaluatedKey"
      },
      "ResultPath": null
    }
  }
}
